@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.1fr 1.7fr 0.1fr;
  gap: 0px 0px;
}
.buttons{
  font-size: 26px;
}